@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
}

body {
    /* A beautiful, deep space gradient */
    background-color: #0c0a18;
    background-image: radial-gradient(circle at top right, #3a3356 0%, #0c0a18 40%);
    background-repeat: no-repeat;
    @apply text-gray-100 antialiased;
}